.header{
    width: 100%;
}
.client{
    text-align:left;
    overflow-x: scroll;
}
.clients{   
    overflow-y: scroll;
}
.content{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
}
.detail-header {
    margin-top:0;
    word-break:break-all;
    font-size: 20px;
    font-weight: 200;
}

.detail {
    width: 100%;
    background-color: 
}

.penalties {
    overflow-y: scroll;
}
