<div class="container-fluid white">
    <div class="row text-center header">
        <h1>Penalties</h1></div>
    <div class="content squareContainer row">
        <div class="col-md-6 col-sm-12 clients">
            <button ng-repeat="client in clients" ng-click="searchClientPenalties(client.id, client.email)" class="btn btn-default btn-block client">{{client.name}}</button>
        </div>
        <!--        <div class="col-md-1 col-sm-12"></div>-->
        <div class="col-md-6 col-sm-12 penalties" ng-show="penalties != undefined && penalties.length > 0">
            <p class="detail-header">Penalties of {{currentUser}}</p>
            <hr>
            <div class="row" ng-repeat="penalty in penalties">
                <div class="col-12">
                    <div class="detail">Fee: {{penalty.fee}}</div>
                </div>
                <div class="col-12">
                    <div class="label label-primary">Training required: {{penalty.trainingRequiered?'Yes':'No'}}</div>
                </div>
                <div class="col-12">
                    <div class="label" ng-class="penaltyClass(penalty.pending)">Payment pending: {{penalty.pending ? "Yes":"No"}}</div>
                </div>
                <div class="col-12">
                    <div class="label label-warning">Suspended until: {{isSuspended(penalty.suspensionEnd)}}</div>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" ng-show="penalties.length == 0">
            <p class="detail-header">{{currentUser}} has no penalties</p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/modules/penalty/penalty.css">