<div class="container-fluid white">
    <div class="row text-center header">
        <h1>Bike Rental</h1>
    </div>
    <div class="row text-center header">
        <button class="btn btn-green" ng-click="returnBike()">Return bike</button>
    </div>
    <div class="row text-center header" ng-show="error">
        <h1>{{error}}</h1>
    </div>
    <div class="row text-center header" ng-show="succes">
        <h1>{{succes}}</h1>
    </div>
    <div class="container-fluid white" cg-busy="{promise:loading,minDuration:1000}">
        <div class="search-reserved row">
            <h2>Search reservations by client mail:</h2>
            <div class="col-xs-12">
                <form ng-submit="searchClient()">
                    <input class="form-control col-xs-12" placeholder="Client mail" type="mail" ng-model="search.mail" required>
                    <button class="btn-sp-blue lg" type="submit">Search</button>
                </form>
            </div>
            <div class="col-xs-12" ng-show="reservedBike">
                <h2>Reserved bike: {{reservedBike.brand}}</h2>
                <button class="btn btn-sp-blue" ng-click="rentBike(reservedBike)">Rent this bike</button>
            </div>
            <div class="col-xs-12" ng-show="!reservedBike && userSearched">
                <h3>This client doesn't have any booked bike</h3>
            </div>
        </div>
        <div class="content squareContainer row">
            <h2>Select a venue to see bikes avilable:</h2>
            <div class="col-md-6 col-sm-12 clients">
                <button ng-repeat="venue in venues" ng-click="searchVenueBikes(venue.id)" class="btn btn-default btn-block client">{{venue.name}} | {{venue.address}}</button>
            </div>
            <!--        <div class="col-md-1 col-sm-12"></div>-->
            <div class="col-md-6 col-sm-12 penalties" ng-show="bikes != undefined && bikes.length > 0">
                <p class="detail-header">Bikes in {{currentVenue}}</p>
                <hr>
                <div class="row" ng-repeat="bike in bikes | filter:{deleted:false}">
                    <div class="col-12">
                        <div class="detail">{{bike.brand}}</div>
                        <p ng-class="isAvilable(bike.reserve)">{{isAvilable(bike.reserve)}}</p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-sp-blue" ng-click="rentBike(bike)">Rent bike</button>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" ng-show="bikes.length == 0">
                <p class="detail-header">{{currentVenue}} has no bikes</p>
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="rent-bike.html">
            <div class="modal-header text-center" cg-busy="{promise:rentingBike,minDuration:1000}">
                <h3 class="modal-title">Rent bike: {{bike.brand}}</h3>
                <br>
                <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                <br>
            </div>
            <form ng-submit="okRent()">
                <div class="modal-body">
                    <h4>Client mail:</h4>
                    <br>
                    <input type="mail" class="form-control" placeholder="Mail" ng-model="rentInfo.userMail" required>

                </div>
                <div class="modal-footer">
                    <button class="btn-sp-red" type="button" ng-click="dismiss()">Close</button>
                    <button type="submit" class="btn-sp-blue" type="submit">Rent Bike</button>
                </div>
            </form>
        </script>
    </div>
    <div>
        <script type="text/ng-template" id="return-bike.html">
            <div class="modal-header text-center">
                <h3 class="modal-title">Return bike</h3>
                <br>
                <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                <br>
            </div>
            <form ng-submit="okReturn()" cg-busy="{promise:returningBike,minDuration:1000}">
                <div class="modal-body">
                    <select class="form-control" ng-options='venue.id as venue.name for venue in venues' ng-model='returnInfo.returnPoint' ng-change="">
                        <option value="" disabled selected>Select return point</option>
                    </select>
                    <br>
                    <select class="form-control" ng-options='rental.id as (rental.bike.brand +" | "+ rental.client.name) for rental in rentals | filter: {delivered:false}' ng-model='returnInfo.rental' ng-change="">
                        <option value="" disabled selected>Select bike to return</option>
                    </select>
                    <br>
                    <input type="mail" class="form-control" placeholder="Mail of client returning bike" ng-model="returnInfo.mail" required>
                    <br>
                    <h3>Report damages:</h3>
                    <label ng-repeat="reparacion in reparaciones">
                        <input type="checkbox" name="selectionFixes" value="{{reparacion.id}}" ng-checked="selection.indexOf(reparacion.id) > -1" ng-click="toggleSelection(reparacion.id)"> {{reparacion.fixName}}
                        <br>
                    </label>
                    <hr>

                    <label>
                        <input type="checkbox" ng-model="returnInfo.mantenimiento"> Send to Maintenance</label>
                </div>
                <div class="modal-footer">
                    <button class="btn-sp-red" type="button" ng-click="dismiss()">Close</button>
                    <button type="submit" class="btn-sp-blue" type="submit">Return bike <span ng-show="returnInfo.mantenimiento">and send to maintenance</span></button>
                </div>
            </form>
        </script>
    </div>
    <div>
        <script type="text/ng-template" id="recipt.html">
            <div class="modal-header text-center" cg-busy="{promise:rentingBike,minDuration:1000}">
                <h3 class="modal-title">Certificate</h3>
                <br>
                <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                <br>
            </div>
            <form ng-submit="okRent()">
                <div class="modal-body">
                    <h4>Fee: {{certificate.Fee}}</h4>
                    <br>
                    <h4>Penalized: {{certificate.Penalized}}</h4>

                </div>
                <div class="modal-footer">
                    <button class="btn-sp-red" type="button" ng-click="dismiss()">Close</button>
                </div>
            </form>
        </script>
    </div>
</div>
<link rel="stylesheet" href="/modules/rental/rental.css">