<div class="container-fluid darkBG">
    <br>
    <center>
        <div class="squareContainer content" cg-busy="{promise:venuesPromise,minDuration:1000}">
            <div class="row" style="width:90%" ng-hide="editMode || addingPlace">
                <center>
                    <h1>Venues</h1>
                </center>
                <hr/>
                <div style="height: 55vh !important; overflow: scroll;">
                   <div class="row">
                       <div class="col-xs-12 col-md-6 venue" ng-repeat="place in places">
                          <div class="row">
                              <div class="col-xs-6">
                                  <h3>{{place.name}}</h3>
                                  <h4>{{place.address}}</h4>
                                  <p>Capacity: {{place.storingCapacity}}</p>
                                  <button id="{{$parent.$index}}-edit-btn" class="btn btn-default" ng-click="editPlace(place)">Edit</button>
                                  <button id="{{$parent.$index}}-delete-btn" class="btn btn-default red" ng-click="deletePlace(place)">Remove</button>
                              </div>
                              <div class="col-xs-6">
                                <br>
                                 <h4>Bikes:</h4>
                                  <a href="#!/bikes" ng-repeat="bike in place.bikes" ng-if="!bike.deleted">
                                      <p>{{bike.brand}}</p>
                                  </a>
                                  
                              </div>
                          </div>
                       </div>
                   </div>
                </div>
            </div>
            <br>
            <div ng-show="editMode">
                <h1>Edit the Venue in {{newPlace.address}}</h1>
               <br>
                <form name="form" id="place-form" role="form" ng-submit="form.$valid && saveRecord()">
                    <fieldset>
                        <input id="id" class="form-control" type="hidden" ng-model="newPlace.id" />
                        <label for="address" class="col-md-2 control-label">Address</label>
                        <div class="col-md-10">
                            <input id="address" name="address" class="form-control" type="text" ng-model="newPlace.address" required ng-maxlength="30" />
                            <div ng-messages="form.address.$error" role="alert" class="errorMessage" ng-if="form.address.$dirty">
                                <div ng-message="required">Venue address is required.</div>
                                <div ng-message="maxlength">Venue address is too long.</div>
                            </div>
                        </div>
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input id="name" name="name" class="form-control" type="text" ng-model="newPlace.name" required
                            ng-maxlength="30"/>
                            <div ng-messages="form.name.$error" role="alert" class="errorMessage" ng-if="form.name.$dirty">
                                <div ng-message="required">Venue name is required.</div>
                                <div ng-message="maxlength">Venue name is too long.</div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <br>
                        <button class="btn btn-default" ng-click="form.$valid && saveEditedPlace()">Save Venue</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <button class="btn btn-default" ng-click="addPlace()" ng-if="!addingPlace && !editMode">Add new Venue</button>
            <div class="col-md-4 col-md-offset-4" ng-show="addingPlace">
                <h1>Add a new Venue</h1>
                <hr/>
                <form name="newVenue">
                    <div class="form-group">
                        <label for="address">Venue Adress</label>
                        <input id="address" name="addr" type="text" class="form-control" ng-model="newPlace.address" placeholder="Venue Address" required ng-maxlength="30">
                        <div ng-messages="newVenue.addr.$error" role="alert" class="errorMessage" ng-if="newVenue.addr.$dirty">
                            <div ng-message="required">Venue address is required.</div>
                            <div ng-message="maxlength">Venue address is too long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Venue Name</label>
                        <input id="name" name="name" type="text" class="form-control" ng-model="newPlace.name" placeholder="Venue Name" required ng-maxlength="30">
                        <div ng-messages="newVenue.name.$error" role="alert" class="errorMessage" ng-if="newVenue.name.$dirty">
                            <div ng-message="required">Venue name is required.</div>
                            <div ng-message="maxlength">Venue name is too long.</div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-default" ng-click="newVenue.$valid && savePlace()">Add Venue</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
                <hr/>
            </div>
        </div>
    </center>
</div>
<link rel="stylesheet" href="/modules/retorno/retorno.css">