<link rel="stylesheet" href="/modules/fixes/fixes.css">
<div class="container-fluid darkBG">
    <br>
    <center>
        <h1>Settings</h1>
        <div class="squareContainer content">
            <h2>Fees</h2>
            <hr width="100vw" size="100vw">
            <div style="height: 40vh !important; overflow: scroll;">
                <div class="row" ng-repeat="reparacion in reparaciones">
                    <div class="col-xs-12 col-md-4">
                        <h3>{{reparacion.fixName}}</h3>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h3>{{reparacion.fee}}</h3>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h3 class="clickable" ng-click="editFix(reparacion)">Edit</h3>
                    </div>
                </div>
            </div>

            <div ng-show="editMode" class="well">
                <h2>Editing Fee</h2>
                <form novalidate name="form" id="place-form" role="form" ng-submit="form.$valid && saveEditedRecord()">
                    <fieldset>
                        <input id="id" class="form-control" type="hidden" ng-model="newFix.id" />
                        <div class="col-md-12 well">
                            <h4>Fee name</h4>
                            <input id="fixName" name="fixName" class="form-control" type="text" ng-model="newFix.fixName" required />

                        </div>
                        <br>
                        <br>
                        <div class="col-md-12 well">
                            <h4>Fee amount</h4>
                            <input id="fee" name="fee" class="form-control" type="text" ng-model="newFix.fee" required />
                        </div>

                    </fieldset>
                    <br>
                    <div class="row">
                        <button class="btn btn-default" ng-click="saveEditedFix()">Save Fix</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <h1>Add new fee</h1>
                <br>
                <form name="newFixForm" style="width:90%">

                    <label for="fixName">Fee Name</label>
                    <input id="fixName" name="fixName" class="form-control" type="text" ng-model="newFix.fixName" required ng-maxlength="20" />

                    <label for="fee">Fee amount</label>
                    <input id="fee" name="fee" class="form-control" type="number" ng-model="newFix.fee" required ng-maxlength="20" />

                    <br>
                    <button class="btn btn-default" ng-click="newFixForm.$valid && saveFix()">Save Fix</button>
                    <br>


                </form>



            </div>



        </div>
    </center>

</div>