.btn:focus {
    outline: none;
}

.btn,
.input {
    border-radius: 0;
}

h3 {
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 20px;
}

label,
.btn {
    font-size: 20px;
    font-weight: 200;
}

.green {
    background-color: #2FAC66;
    height: 100vh;
}