<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="b4f" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bikes4Free</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
</head>

<body ng-controller="NavController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div id="mySidenav" class="sidenav" ng-if="isLogged()">
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <a href="#!/dashboard" ng-click="closeNav()">Dashboard</a>
        <a href="#!/bikes" ng-click="closeNav()" ng-if="isAdmin() || isManager()">Bikes</a>
        <a href="#!/rentplace" ng-click="closeNav()" ng-if="isAdmin() || isManager()">Venues</a>
        <a href="#!/penalty" ng-click="closeNav()">Penalties</a>
        <a href="#!/booking" ng-click="closeNav()" ng-if="isUser()">Booking</a>
        <a href="#!/admin/users" ng-click="closeNav()" ng-if="isAdmin()">Users</a>
        <a href="#!/rental" ng-click="closeNav()" ng-if="isManager()">Bike Rental</a>
        <hr>
        <a ng-click="logOut()" ng-show="isLogged()">LogOut</a>
    </div>
    <div id="main" ng-class="isLoginNav()">
        <span style="font-size:30px;cursor:pointer" class="hamburgerMenu" id="hm" ng-click="openNav()" ng-class="isLogged()?isLoginFont():'whiteFont'">&#9776; Menu</span>
        <div ng-view></div>
    </div>
    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="app.js"></script>
    <script src="modules/login/login.js"></script>
    <script src="modules/dashboard/dashboard.js"></script>
    <script src="modules/bikes/bikes.js"></script>
    <script src="modules/retorno/retorno.js"></script>
    <script src="modules/penalty/penalty.js"></script>
    <script src="modules/register/register.js"></script>
    <script src="modules/users/users.js"></script>
    <script src="modules/booking/booking.js"></script>
    <script src="modules/rental/rental.js"></script>

    <!--    Css libs-->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css">
    <!--    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
</body>

</html>