.content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
}

.squareContainer {
    background-color:white;
    width: 90%;
    height: 100vh !important;
    border: 2px solid;
    border-radius: 25px;
    border-color: white;
    overflow: auto;
    height: 100%
}

.dark{
    color: rgb(57, 67, 80);
}

.bike{
    
}

.bike img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bike h1{
    height: 50px;
    color: white;
/*    text-shadow: 2px 2px black;*/
    text-align: center;
    width: 100%;
    background-color: rgb(57, 67, 80);
    margin: 0;
    opacity: 0.8;
    padding-bottom: 5px;
}
.bike_item{
    width: 100%;
    height:28px;
    line-height: 25px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: darkgray;
    text-align: left;
    padding-left: 5px;
    background-color: rgb(57, 67, 80);
}
.bike_item p{
    color: white;
}
.bike_buttons{
    height: 60px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: rgb(57, 67, 80);
    background-color: rgb(108, 129, 150);
    width: 100%;
    
}
.bike_buttons button{
    background-color: #2FAC66;
    color: white;
    margin-top: 10px;
    border-style: none;
    width: 30%;
    height: 40px;
}

.bike_buttons > button:hover{
    background-color: white;
    color: #2FAC66;
}

.red{
    background-color: white !important;
    color: tomato !important;
}
.red:hover{
    background-color: tomato !important;
    color: white !important:;
}
.bikeImg {
    height: 180px;
}
