<div class="container-fluid white">
    <br>
    <center>
        <div class="squareContainer content" cg-busy="{promise:bikesPromise,minDuration:1000}">
            <div class="row" style="width:90%" ng-hide="addingBike || editMode">
                <center>
                    <h1>System Bikes</h1>
                </center>
                <hr/>
                <div style="height: 40vh !important; overflow: scroll;">
                    <table class="table table-striped">
                        <tr>
                            <th>Bike ID</th>
                            <th>Brand</th>
                            <th>Damaged</th>
                            <th>Available</th>
                            <th>BikeType</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="bike in bikes" ng-if="!bike.mantenimiento" class="success">
                            <td>{{bike.id}}</td>
                            <td>{{bike.brand}}</td>
                            <td>{{bike.damaged}}</td>
                            <td>{{bike.available}}</td>
                            <td>{{bike.bikeType.name}}</td>
                            <td>
                                <a id="{{$parent.$index}}-edit-btn" ng-click="editBike(bike)">Edit</a><br>
                                <a id="{{$parent.$index}}-delete-btn" ng-click="deleteBike(bike)">Remove</a>
                                <a id="{{$parent.$index}}-delete-btn" ng-click="mantenimientoOff(bike)">Send to maintenance</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <center>
                    <h1>Bikes in Maintenance</h1>
                </center>
                <hr/>
                <div style="height: 40vh !important; overflow: scroll;">
                    <table class="table table-striped">
                        <tr>
                            <th>Bike ID</th>
                            <th>Brand</th>
                            <th>Damaged</th>
                            <th>Maintenance</th>
                            <th>BikeType</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="bike in bikes" ng-if="bike.mantenimiento" class="success">
                            <td>{{bike.id}}</td>
                            <td>{{bike.brand}}</td>
                            <td>{{bike.damaged}}</td>
                            <td>{{bike.mantenimiento}}</td>
                            <td>{{bike.bikeType.name}}</td>
                            <td>
                                <a id="{{$parent.$index}}-edit-btn" ng-click="mantenimientoOff(bike)">Set as Available</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr/>
            <div ng-show="editMode && !addingBike" class="well">
                <h3>Editing Bike</h3>
                <form novalidate name="form" id="place-form" role="form" ng-submit="form.$valid && saveEditedRecord()">
                    <fieldset>
                        <input id="id" class="form-control" type="hidden" ng-model="newBike.id" />
                        <div class="col-md-12">
                            <h4>Brand</h4>
                            <input id="name" name="name" class="form-control" type="text" ng-model="newBike.brand" required />
                            <div ng-messages="form.name.$error" role="alert" class="errorMessage" ng-if="form.name.$dirty">
                                <div ng-message="required">Brand name is required.</div>
                                <div ng-message="email">Please enter a valid brand name.</div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-12">
                            <h4>Condition</h4>
                            <input type="radio" ng-model="newBike.damaged" ng-value="false" ng-change="nuevoServicio=null;serviceError=null;"> Not Damaged
                            <input type="radio" ng-model="newBike.damaged" ng-value="true" ng-change="nuevoServicio=null;serviceError=null;"> Damaged
                        </div>
                        <div class="col-md-12">
                            <br>
                            <h4>Availability</h4>
                            <input type="radio" ng-model="newBike.available" ng-value="false" ng-change="nuevoServicio=null;serviceError=null;"> Not Available
                            <input type="radio" ng-model="newBike.available" ng-value="true" ng-change="nuevoServicio=null;serviceError=null;"> Available
                        </div>
                    </fieldset>
                    <br>
                    <div class="row">
                        <button class="btn btn-default" ng-click="saveEditedBike()">Save Bike</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <button class="btn btn-default" ng-click="addBike()" ng-show="!addingBike && !editMode">Add new Bike</button>
            <div class="row" ng-show="addingBike">
               <h1>Add new Bike</h1>
                <br>
                <form name="newBikeForm">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input id="brand" name="brand" class="form-control" type="text" ng-model="newBike.brand" required ng-maxlength="20" />
                            <div ng-messages="newBikeForm.brand.$error" role="alert" class="errorMessage" ng-if="newBikeForm.brand.$dirty">
                                <div ng-message="required">Brand name is required.</div>
                                <div ng-message="maxlength">Brand name is too long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="venue">Bike Venue</label>
                            <select name="venue" class="form-control" ng-options='venue as venue.name for venue in venues' ng-model='selectedVenue' ng-change="typeError=null;" required>
                                <option value="" disabled selected>Select the venue for this bike</option>
                            </select>
                            <div ng-messages="newBikeForm.venue.$error" role="alert" class="errorMessage" ng-if="newBikeForm.venue.$dirty">
                                <div ng-message="required">Brand name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="newType">BikeType</label>
                        <br>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="newType" id="newTypeRadios1" value="false" ng-model="customType" required><small>Existing BikeType</small>
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="newType" id="newTypeRadios2" value="true" ng-model="customType" required> <small>Create BikeType</small>
                            </label>
                        </div>
                        <div ng-messages="newBikeForm.newType.$error" role="alert" class="errorMessage" ng-if="newBikeForm.newType.$dirty">
                                <div ng-message="required">Please select one of the options.</div>
                            </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4" ng-show="customType == 'false'">
                        <hr/>
                        <select class="form-control" ng-options='type as type.name for type in bikeTypes' ng-model='selectedType' ng-change="typeError=null;" ng-required="customType == 'false'">
                            <option value="" disabled selected>Select the type for this bike</option>
                        </select>
                        <hr/>
                    </div>
                    <div class="col-md-4 col-md-offset-4" ng-show="customType == 'true'">
                        <hr/>
                        <div class="form-group">
                            <label for="typeName">Type Name</label>
                            <input class="form-control custom-input" type="text" ng-model="newType.name" placeholder="Type name" ng-required="customType == 'true'" name="ntn"
                            ng-minlength="1"
                            ng-maxlength="20">
                            <div ng-messages="newBikeForm.ntn.$error" role="alert" class="errorMessage" ng-if="newBikeForm.ntn.$dirty">
                                <div ng-message="required">Type name is required.</div>
                                <div ng-message="maxlength">Type name is too long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bykeURL">Type Image URL</label>
                            <input type="url" class="form-control custom-input" ng-model="newType.imageURL" placeholder="Type Image URL" ng-required="customType == 'true'" name="imageUrl">
                            <div ng-messages="newBikeForm.imageUrl.$error" role="alert" class="errorMessage" ng-if="newBikeForm.imageUrl.$dirty">
                                <div ng-message="required">Type image URL is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeCapacity">Type Capacity</label>
                            <input class="form-control" type="number" ng-model="newType.capacity" placeholder="Type capacity"
                             ng-required="customType == 'true'" name="ntc"
                             min="1" max="5">
                             <div ng-messages="newBikeForm.ntc.$error" role="alert" class="errorMessage" ng-if="newBikeForm.ntc.$dirty">
                                <div ng-message="required">Type capacity is required.</div>
                                <div ng-message="min">Type capacity must be greater than 0.</div>
                                <div ng-message="min">Type capacity must be less than 6.</div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="col-md-12" style="margin-top:10px">
                        <button class="btn btn-default" ng-click="newBikeForm.$valid && saveBike()">Save Bike</button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <hr/>
        </div>
    </center>
</div>
<link rel="stylesheet" href="/modules/bikes/bikes.css">