<div class="container-fluid white">
    <br>
    <center>
        <div class="squareContainer content">
            <div class="row" style="width:90%">
                
                <hr/>
                <p style="color:green;" ng-if="client.reserverdBike === undefined">You don't have an Active Booking</p>
                <div ng-if="client.reserverdBike !== undefined"><h5>Your current Booking:</h5> <h3 style="color:green;">{{client.reserverdBike.brand}} | {{client.reserverdBike.bikeType.name}}</h3>
                            <p style="color:green;">Capacity: {{client.reserverdBike.bikeType.capacity}}</p> </div>
                <hr/>
            </div>
            <div class="row" style="width:90%">
                <center>
                    <h1>Book a Bike</h1>
                </center>
                <hr/>
                <h5>Select the venue you want to reserve at</h5>
                        <select class="form-control" ng-options='venue as venue.name for venue in venues' ng-model='selectedVenue' ng-change="typeError=null;">
                            <option value="" disabled selected>Select the venue for this bike</option>
                        </select>
                
                <div class="row" ng-if="selectedVenue.bikes.length === 0"><p style="color:red"><br>There are not available bikes in {{selectedVenue.name}}</p></div>
                <div class="row" style="margin-top:40px;">
                <div ng-repeat="bike in selectedVenue.bikes" ng-if="!bike.deleted">
                      <div class="col-sm-2 col-md-2">
                        <div class="thumbnail">
                          <img ng-src="{{bike.bikeType.imageURL}}" class="imageType">
                          <div class="caption">
                            <h3>Type: {{bike.bikeType.name}}</h3>
                            <h4>Brand: {{bike.brand}}</h4>
                            <p>Capacity: {{bike.bikeType.capacity}}</p>
                            <p><a class="btn btn-primary" role="button" id="{{$parent.$index}}-reserve-btn" ng-click="reserveBike(bike)" ng-if="!bike.reserve&&bike.available&&client.reserverdBike === undefined">Reserve</a></p>
                            <p style="color:red;" ng-if="client.reserverdBike !== undefined"> You can´t have more than one active booking </p>
                            <p style="color:red;" ng-if="bike.reserve&&bike.available"> The bike is reserved </p>
                              
                          </div>
                        </div>
                      </div>
                    
                </div>
                </div>
                
            </div>
            <hr/>
            
            
            
            <hr/>
        </div>  
    </center>
</div>
<link rel="stylesheet" href="/modules/booking/booking.css">