.header{
    width: 100%;
}
.client{
    text-align:center;
    overflow-x: scroll;
}
.clients{   
    overflow-y: scroll;
}
.content{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
}
.detail-header {
    margin-top:0;
    word-break:break-all;
    font-size: 20px;
    font-weight: 200;
}

.detail {
    width: 100%;
    color: white;
}

.detail h3{
    width: 100%;
    color: white;
    min-height: 60px;
}

.penalties {
    overflow-y: scroll;
    background-color: rgb(57, 67, 80); 
    color: white;
    border-radius: 20px;
}

.penalties p{
    color: white;
}

.t{
    background-color: white;
    min-height: 60px;

}
.t h4{
    color: rgb(57, 67, 80) !important;
}

.p{
    min-height: 60px;
}

.p h4{
    color: white !important;
}

.s{
    background-color: rgb(108, 129, 150);
    margin-bottom: 10px;
    min-height: 60px;
}

.client-row{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.Active{
    color: #2FAC66;
}

.Suspended{
    color: red;
}

.inner-header{
    color: #2FAC66;
}

.succes{
    color: #2FAC66;
}

.error{
    color: red;
}



h1, h2, h3, h4, h5, p, a, label {
    color: white;
}

p:hover{
    color: #2FAC66;
}

.squareContainer{
    background-color: rgb(57, 67, 80);
    width: 90%;
    height: 200px;
    border: none;
    border-radius: 25px;
    border-color: rgb(230, 230, 230);
    overflow: auto;
    height: 100%;
    margin-bottom: 20px;
}
.clickable {
    color:#2FAC66;
}

.clickable:hover{
    color:white;
    cursor: pointer;
}
.clickable-red {
    color:tomato;
}

.clickable-red:hover{
    color:white;
    cursor: pointer;
}

.btn{
    margin-bottom: 20px;
    background-color: #2FAC66;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    margin-bottom: 20px;
    background-color: white;
    color: #2FAC66;
}

.well > h2, .well > h4{
    color: #2FAC66;
}

.red{
    background-color: white !important;
    color: tomato !important;
}

.red:hover{
    background-color: tomato !important;
    color: white !important;
}

.dark{
    background-color: rgb(108, 129, 150) !important;
    color: white !important;
    width: 100%;
}

.dark:hover{
    background-color: white !important;
    color: rgb(108, 129, 150) !important;
}