<div class="container-fluid">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <a href="#">Dashboard</a>
        <a ng-click="goToBikes()">Bikes</a>
        <a ng-click="goToPoints()">Return Points</a>
        <a href="#">Penalties</a>
        <br>
        <a ng-click="logOut()">LogOut</a>
    </div>
    <div id="main">

        <span style="font-size:30px;cursor:pointer" class="hamburgerMenu" ng-click="openNav()">&#9776; Menu</span>

        <center>
            <h1>Dashboard</h1>
        </center>
        <br>
        <center>
            <div class="squareContainer">
                <h5>Nothing to show yet</h5>
            </div>
        </center>

    </div>
</div>
<link rel="stylesheet" href="/modules/dashboard/dashboard.css">