<div class="container-fluid white">
    <div ng-controller="DashboardCtrl"> 
        <center>
            <h1>Dashboard</h1>
        </center>
        <br>
        <center>
            <div class="squareContainer">
                <h2>Popular Venues (Top 5)</h2>
                <div ng-repeat="venue in venues | orderBy: '-reservations' | limitTo:5">
                    <b>{{venue.name}}</b>
                    <br>
                    <p># Rentals: {{venue.reservations}}</p>
                </div>
                 <h2>Routes</h2>
                <div ng-repeat="(key,value) in rentals | groupBy: '[origin.name , drop.name]'" >
                    <p ng-if="key.split(',')[1]">{{key.split(',')[0]}} - {{key.split(',')[1]}} Cantidad </p>
                </div>
                <h2>Trip Duration</h2>
                <div>
                <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride"</canvas> 
                </div>
                    <h4>Hours</h4>
                <h2>Preferred Hours</h2>
                <div>
                <canvas id="line2" class="chart chart-line" chart-data="data2"
                    chart-labels="labels2" chart-series="series2" chart-options="options2"
                    chart-dataset-override="datasetOverride2"</canvas> 
                </div>
                    <h4>Hour</h4>
                    <p>Hours are converted to your own TimeZone</p>
            </div>
                
            </div>
        </center>
    </div>


</div>
<link rel="stylesheet" href="/modules/dashboard/dashboard.css">